@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 375px) {
  .show-modal{
    background-color: #8b04e6;
  }
  .modal-container h1{
    font-size: 2.3rem;
    text-shadow: 1px 1px 1px #000;
  }

  .keypad {
    padding-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
  }

  .keypad .key-btn{
    font-size: 1rem;
    height: 3rem;
  }

  .keypad #special-keys{
    font-size: 1rem;
    height: 3rem;
  }

  .keypad .clear{
    font-size: 1rem;
    height: 3rem;
  }

  .keypad .equals{
    font-size: 1rem;
    height: 3rem;
  }

  .modal-container {
  margin-right: 30%;
  margin-bottom: 80%;
  z-index: 1;
  }
  .wrapper{
    width: 300px !important;
    height: 455px !important;
    padding-top: 2rem !important; 
    margin-right: 4% !important;
   
}
}
@media only screen and (min-width: 376px) and (max-width: 767px) {
  .show-modal{
    background-color: #469109;
  }
  .modal-container h1{
    font-size: 2.3rem;
    text-shadow: 1px 1px 1px #000;
  }

  .keypad {
    padding-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
  }

  .keypad .key-btn{
    font-size: 1rem;
    height: 3rem;
  }

  .keypad #special-keys{
    font-size: 1rem;
    height: 3rem;
  }

  .keypad .clear{
    font-size: 1rem;
    height: 3rem;
  }

  .keypad .equals{
    font-size: 1rem;
    height: 3rem;
  }

  .modal-container {
  margin-right: 30%;
  margin-bottom: 85%;
  z-index: 1;
  }
  .wrapper{
    width: 300px !important;
    height: 450px !important;
    margin-right: 0% !important;
    /* padding-top: 2rem !important;  */
  
}
}

/* Styles for small screens */
/* @media only screen and (min-width:376px) and (max-width: 470px) {
 
  .keypad {
    grid-template-columns: repeat(3, 1fr);
  }
  .modal-container {
  
     margin-bottom: 30%;
    margin-right:25% ;
  
    }
    .wrapper{
      width: 380px !important;
      margin-right:4%;
    }
    .show-modal{

      background-color: #df0f5e;
    }
}
@media only screen and (min-width:471px) and (max-width: 820px) {
  .keypad {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal-container {
    margin-right:0%;
    margin-bottom: 40%;
    }
    .wrapper {
      width: 100rem;
      height: 100%;
    }
} */
body{
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: monospace;
   background: linear-gradient(145deg, #d3cccc, #b1acac);
 
}
 h1{
  padding: 0%;
  display: flex;
  justify-content: center;
  margin: 0px;
  color: #e25a5a;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 35%;
  z-index: 1;
 }
input[type="text"]{
    height: 70px;
    margin-bottom: 5px;
    border-radius: 7px;
    width: 90%;
    justify-content : center;
    font-weight: 300;
    letter-spacing: 1.5px;
    background: rgb(27, 25, 25);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(133, 127, 127);
    color: #ffffff;
    font-size: 32px;
    padding: 1rem;
    text-align: right;
    font-family: monospace;
}
.backspace{
  font: bold;
}
.wrapper{
 background: #ababab;
 box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
 color: #232323;
 padding: 1rem 1rem;
 border-radius: 10px;
 width: 400px;
 height: 520px;
 box-shadow: 17px 21px 15px -3px rgba(0,0,0,0.1);
}
.keypad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(85px,auto);
}
.clear{ 
  grid-column: 1/3;
  border-radius: 2rem;
  background: linear-gradient(145deg, #cdcccc, #adacac);
  box-shadow:  50px 50px 68px #4d4c4c,
               -50px -50px 68px #ffffff;
    font-weight: 1000;
    margin: 10px 15px;
    cursor:pointer;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
 } 
 .clear:hover{
  color: #830404;
 }
.equals{
 grid-column: 3/5;
 border-radius: 2rem;
 background: #fb8500;
 box-shadow:  50px 50px 68px #4d4c4c,
              -50px -50px 68px #ffffff;
   font-weight: 1000;
   margin: 10px 15px;
   cursor:pointer;
   font-size: 20px;
   border: 1px solid rgba(255, 255, 255, 0.01);
   box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1); 
 }
 .equals:hover{
  color: #830404;
 } 
.key-btn{
  border-radius: 10rem;
  background: linear-gradient(145deg, #cdcccc, #adacac);
  box-shadow:  50px 50px 68px #4d4c4c,
               -50px -50px 68px #ffffff;
    font-weight: 1000;
    margin: 10px 15px;
    cursor:pointer;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
} 
.key-btn:last-child {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  background: #fb8500;
  color: #070000;
  }
  .key-btn:first-child{
     background-color: #4d4c4c;
  }
.key-btn:last-child:hover { 
  color : rgb(185, 3, 3);
  }  
.key-btn:last-child:active {
 
   color: white;
}
.key-btn:hover{
  color: #830404;
} 
.key-btn:active{
  color:black;
}
input:focus
input:active
.key-btn:focus
.key-btn:active{ 
   outline: none; 
 } 
#special-keys{
  color:#000000;
  font-weight: 1000;
  background: #fb8500;
  border-radius: 1rem;
  box-shadow:  50px 50px 68px #4d4c4c,
               -50px -50px 68px #ffffff;
    font-weight: 1000;
    margin: 10px 15px;
    cursor:pointer;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
}
#special-keys:hover{
  color: #830404;;
}
#special-keys:active{
  color: rgb(0, 0, 0);
}

/* sidebar */

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

/*
=============== 
Home
===============
*/

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.5rem;
}
.btn:hover {
  color: var(--clr-black);
  background: transparent;
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
  /* overflow: hidden; */
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background:transparent;
  border-radius: var(--radius);
  width: 550px;
  height: 590px;
  margin-top:-28%;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

/*
=============== 
Sidebar
===============
*/
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}
.close-btn:hover {
  color: var(--clr-red-light);
}
.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-3);
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.links a:hover {
  background: var(--clr-grey-10);
  color: var(--clr-grey-2);
}
.links a svg {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  margin-right: 1rem;
  transition: var(--transition);
}
.links a:hover svg {
  color: var(--clr-grey-4);
}
.sidebar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (max-width: 676px) {
  .sidebar {
    width:100%;
  }
}
